body{
		background-color: rgba(255,255,255,0.9);
	}
	#total{
		margin: 0 auto;
	}
	#main{
		width: 700px;
		margin: auto;
		height: 534px;
		border: 1px solid #ffffff;
		background-color: rgba(255,255,255,0.7);
	}
	#top{
		margin:40px 40px 0px 40px;
		height: 150px;
	}
	#t2{
		margin-left: 100px;
	}
	#t1{
		text-align: center;
	}
	#t1 > span{
		color: #ff8040;
		font-size: 30px;
	}
	
	input{
		background: none;
		border-style: none;
		border: 0.1px solid #ffffff;
		width: 380px;
		height: 27px;
		color: white;
	}
	
	.c1{
		margin: 0px 40px 40px 40px;
		text-align: center;
	}
	.c1 > span{
		color: #EEDD82;
	}